::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-button:vertical:increment:single-button {
  width: 18px;
  height: 15px;
  background: #0000 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 15'%3E%3Crect width='100%' height='100%' fill='rgba(255, 255, 255, 0.2)'/%3E%3Cpath stroke='%23FFF' fill='none' stroke-width='1.25' d='M3 5L9 10L15 5'/%3E%3C/svg%3E") no-repeat center center;
  background-size: 18px 15px;
}
::-webkit-scrollbar-button:vertical:decrement:single-button {
  width: 18px;
  height: 15px;
  background: #0000 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 15'%3E%3Crect width='100%' height='100%' fill='rgba(255, 255, 255, 0.2)'/%3E%3Cpath stroke='%23FFF' fill='none' stroke-width='1.25' d='M3 10L9 5L15 10'/%3E%3C/svg%3E") no-repeat center center;
  background-size: 18px 15px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
