.plovr-error-report {
  position: absolute;
  z-index: 1000;
}

/* CSS full-screen layout */
html { overflow: hidden; }
body { overflow: hidden; padding: 0; margin: 0; width: 100%; height: 100%; font-family: Trebuchet MS, Trebuchet, Arial, sans-serif; }
#header { position: absolute; top: 10px; left: 10px; right:10px; height: 45px; overflow: hidden; }
#map { position: absolute; top: 100px; left: 200px; right: 10px; bottom: 15px; overflow: hidden; }
#topbar { position: absolute; top: 65px; left: 200px; right:10px; height: 25px; overflow: hidden; }
#sidebar { position: absolute; top: 65px; left: 10px; width: 180px; bottom: 15px; overflow: auto; }
#footer { position: absolute; bottom: 0px; left: 0px; width:100%; height: 12px; overflow: hidden; }
#layerSelect { position: absolute; top: 110px; right: 20px; z-index: 10000;}

/* CSS design */
body { background: #f4f4f4;}
#header { background: #fff; box-shadow: 0 1px 3px #CCC; border: 1px solid #ccc; }
#header h1 { padding:7px 10px; margin:0; font-size: 28px; }
#map { border: 1px solid #ccc; box-shadow: 0 1px 3px #CCC; background-color: #cedfe4; }
#footer { text-align:center; font-size:9px; color:#606060; }

/* CSS autocomplete */
.ac-renderer {
  position: absolute;
  width: 350px;
  background-color: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
}

.ac-row {
  position: relative;
  padding: .4em;
  cursor: pointer;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #b2b4bf;
}

.ac-type {
  background-color: #990033;
  color: #FFFFFF;
  display: block;
  margin: 2px;
  padding: 2px;
  font-style: italic;
  float: right;
}
.olImageLoadError { background-image: none !important; background-color: transparent !important; }


/*
 * Standard styling for goog.ui.Dialog.
 *
 * @author ssaviano@google.com (Steven Saviano)
 * @author attila@google.com (Attila Bodis)
 */


.modal-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute;
  z-index: 10002;
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10001;
}

.modal-dialog-title {
  background: #e0edfe;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

.goog-buttonset-default {
  font-weight: bold;
}

.modal-dialog-content pre .combo {
  display: inline;
}

.modal-dialog-content pre .combo.disabled .goog-combobox-button {
  display: none;
}

.modal-dialog-content pre .combo.disabled input {
  border: 0;
  background-color: #e7e7e7;
}

.modal-dialog-content pre .combo.disabled .goog-combobox {
  border: 0;
}

.modal-dialog-content pre .combo .active input {
  background-color: #fe0;
}

.modal-dialog-content pre .no-arrow .goog-combobox-button {
  display: none;
}
.modal-dialog-content pre .no-arrow input {
  border-right: 0;
}
.modal-dialog-content pre .multipleValues {
  background-color: #e7e7e7;
}

::-webkit-input-placeholder {
   color: blue;
   font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
   color: blue;  
   font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: blue;  
   font-style: italic;
}
:-ms-input-placeholder { 
  color: blue;
  font-style: italic;
}

select {
  display: block;
}

#sidebar .block {
  margin-bottom: 1em;
}
#sidebar h4 {
  margin: 5px 0;
}

#sidebar select {
  width: 100%;
}

.clipboard-container {
  display: inline-block;
}

.clipboard-container > div:last-child {
  line-height: 12px;
}