.radio-box span.other {
  display: inline-block;
  width: 94%;
  white-space: nowrap;
}

.radio-box .vertical-scroll {
  height: 160px;
  overflow-y: scroll;
}

#loading {
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 10000;
  background-image: url('../img/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.item.disabled {
  pointer-events: none;
}

.item.disabled a {
  color: gray;
  pointer-events: none;
}
